.list-info {
    @media screen and (min-width: $tablet) {
        display: flex;
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: -30px;
    }
        
    @media screen and (min-width: $desctop) {
        margin-right: 0;
        margin-bottom: 0;
    }
    
}

.list-info__item {
    width: 450px;
    margin-bottom: 30px;

    &:first-child {
        margin-bottom: 0;
    }
    

    @media screen and (min-width: $tablet) {
        width: 354px; 
        margin-right: 30px;
        margin-bottom: 30px;  
    }

    @media screen and (min-width: $desctop) {
        width: 270px;
            
        margin-right: 0;
        margin-bottom: 0;          
        margin-left: 30px;
    
        &:first-child {
            margin-left: 0;
        }
    }
 
}

.list-info__icon {
    background-color: var(--section-team-bg-color);

    width: 450px;
    
    height: 120px;
    padding: 25px 190px;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
        width: 354px;
        padding: 25px 142px;
    }

    @media screen and (min-width: $desctop) {
        width: 270px;
        padding: 25px 100px;
        margin-bottom: 20px;
    }
}
    

.list-info__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondory-font-color);
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.list-info__text {
    letter-spacing: 0.03em;
}
